/* Remove: margin, padding and border */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #663399;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

#github a {
    color: plum;
}

#github:hover {
    transform: scale(1.25);
    /* Increases the size when hovering */
}

header {
    height: 100px;
    background-color: replumd;
    color: whitesmoke;
    background-color: rebeccapurple;
    line-height: 100px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

#game {
    padding: 25px;
}

.selections {
    margin-top: 1.5rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.selection {
    background-color: plum;
    color: rebeccapurple;
    font-weight: bold;
    cursor: pointer;
    /* This changes the the mouse to a pointer when hovering, credit to Web Dev Simplified on Youtube */
    font-size: 2.5rem;
    transition: 250ms;
    /* Slows the transition when increasing scale while hovering */
    height: 225px;
    width: 225px;
    border-radius: 50%;
}

.selection:hover {
    transform: scale(1.25);
    /* Increases the size when hovering */
}

/* The following code displays the results side by side centered */
.results {
    margin: 25px 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    color: plum;
}

.results h2 {
    margin: 25px 0;
    color: whitesmoke;
}

.score {
    margin-left: .25rem;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    font-size: xx-large;
    background-color: plum;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
}

footer a {
    color: rebeccapurple;
}

footer div:hover {
    transform: scale(1.25);
    /* Increases the size when hovering */
}


/* Collapsible Window */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: plum;
    color: rebeccapurple;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: bold;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: whitesmoke;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: plum;
    color: rebeccapurple;
    padding: 25px;
    font-size: medium;
}
